# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
fileTemplates/
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/
**/bin

# Miscellaneous
**/src/**/*.json
.notes/
.scannerwork/
\#*
.#*
*~
*~*
*.orig
*.hprof
.DS_Store
